@import url('https://fonts.googleapis.com/css?family=Lobster|Questrial');

body {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  position: relative;
}

img {
  max-width: 185px;

}

.page {
  padding: 50px 0;
}


/*Home */

#featured {
  text-align: center;
  background-color: #475265;
  background-image: url(https://i.imgur.com/kz4HCSz.gif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  color: white;
  padding: 200px;
  padding-bottom: 650px;
}

#featured p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  font-size: 1.5em;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

.page h3 {
  text-align: center;
}


/* Header Navigation */

header .navbar {
  padding: 30px 0;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: #00ff00;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #BF3EFF;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #BF3EFF;
  background: transparent;
  border-bottom: 4px solid #BF3EFF;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}

/* Navbar toggle */

header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* nav inbody */
header .inbody{
  background: rgba(240, 128, 128, .9);
  
}

header .navbar.inbody{
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav{
  padding-top: 10px;
}

/* About me */

#about {
  background-color: #A8CD1B;
  background-image: #F5F3EE;
  border-top: 20px solid rgba(72, 173, 86, .5);
}

#work {
  background-color: #DFE2DB;
  background-image: #F5F3EE;
  border-top: 20px solid rgba(208, 217, 230, 0.5);
}
#education {
  background-color: #FFFFFF;
  background-image: #F5F3EE;
  border-top: 20px solid rgba(0, 0, 0, 0.5);
}
/*Portfolio */

#portfolio {
  padding: 60px;
  background-color: #F5F3EE;
}

#projects {
  font-family: 'Lobster', cursive;
}

  /* contact */
 #contact h4 {
    color: lightcoral;
    font-size: 2em;
   padding-bottom: 40px;
  }
#contact {
  background-color: antiquewhite;
  /* background-image: url("../image/clouds.png") */
}

#contact hr{
  border: lightcoral;
}

#site-info {
  background-color: #18181A;
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Questrial', sans-serif;;
  padding-top: 8px;
  padding-bottom: 8px;
}
#portfolio {
  background-color: #f6f6f6;
  width: 100vw;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#portfolio .desc {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
#portfolio p {
  font-size: .8em;
  font-family:  'Questrial', sans-serif;;

}
.project-title {
  
  font-family:  'Lobster', cursive;
  font-size: 1.75em;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 1px;
  color: #666;
  text-align: center;
}

.project-headings {
  font-family:  'Lobster', cursive;
}

.project-body {
  font-family:  'Lobster', cursive;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.project {
  border-width: thin;
  border-color: #ccc;
}

.card {
  position: relative;
  width: 300px;
  height: 365px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
  cursor: pointer;
}

.card img {
  width: calc(300px - 0px);
  height: calc(365px - 45px);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.16);
  border-bottom-width: 1px;
}

.card_front, .card_back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
  border-color: #666;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}


.card_front:hover, .card_back:hover {
  left: -4px;
  top: -4px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_front {
  background-color: white;
}

.card_back {
  background-color: #fafffc;
  -webkit-transform: rotateY(179deg);
  -ms-transform: rotateY(179deg);
  transform: rotateY(179deg);
}

.card.effect_click.flipped .card_front {

  -webkit-transform: rotateY(-179deg);
  -ms-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
}

.card.effect_click.flipped .card_back {

  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.highlight {
  opacity: 0.6;
}

.highlight:hover {
  opacity: 1;
}
.section-title {
  font-family: 'lato', sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title.about {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.portfolio {
  color: rgba(0, 0, 0, 0.54);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.section-title.contact {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.99);
}

.section-banner {
  padding-top: 10px;
  padding-bottom: 50px;
}
